
.heading{text-align:center}
.carousel{}
.carouselLeft{align:left}
.carouselRight{align:right; padding: 50px 0 50px 0;}
h1{font-family:'Josefin Sans', sans-serif; }
body{font-family: 'Josefin Sans', sans-serif; font-size: 20px;}
